/* Variables para el tema claro */
.light-mode {
  --primary-color: #0A192F;
  --secondary-color: rgba(55, 114, 250, 0.77);
  --background-light: #c5c5c5;
  --text-light: #EDEDED;
  --text-dark: rgba(228, 216, 216, 0);
  --gradient: linear-gradient(120deg, #0A192F, #1C1E26);
  --primary-button-color: #0A192F;
  --primary-button-text: #EDEDED;
  --transition-speed: 0.3s;
  --font-family: 'Poppins', sans-serif;
}

/* Variables para el tema oscuro */
.dark-mode {
  --primary-color: #4B0082;
  --secondary-color: #8A2BE2;
  --background-light: #121212;
  --text-light: #E0E0E0;
  --text-dark: rgba(0, 0, 0, 0);
  --gradient: linear-gradient(120deg, #4B0082, #242424);
  --primary-button-color: #4B0082;
  --primary-button-text: #E0E0E0;
  --transition-speed: 0.3s;
  --font-family: 'Poppins', sans-serif;
}

/* Aplicación de colores */
body {
  background: var(--background-light);
  color: var(--text-dark);
  transition: background 0.3s ease, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;

}

/* Texto con gradiente */
.gradient-text {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  background: linear-gradient(45deg, #61a3ff, rgb(97, 91, 152), rgb(183, 85, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/* Texto con efecto de escritura */
.typing-text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.12em solid #ffffff;
  animation: typing 3.5s steps(20, end), blink-caret 0.75s step-end infinite;
  color: var(--text-dark);
  display: inline-block;
  min-height: 4em;
  font-size: 3rem;
  font-weight: bold;
}

/* Enlaces de navegación */
.nav-links a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--secondary-color);
}

.nav-links a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Título del héroe */
.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Iconos */
i {
  color: var(--text-light);
  font-size: 30px;
  margin: 10px;
}

/* Párrafo del héroe */
.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Título de la sección */
.section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  position: relative;
}

/* Párrafo de habilidades */
.skill p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

/* Título del proyecto */
.project h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Párrafo del proyecto */
.project p {
  font-size: 1rem;
}

/* Sección Sobre Mi */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 2rem;
  background: var(--gradient);
  color: var(--text-light);
}

.hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hero-right {
  flex: 2;
  text-align: left;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.gradient-text {
  background: linear-gradient(to right, var(--secondary-color), var(--text-light));
  -webkit-background-clip: text;
  color: transparent;
}

/* Skills */
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 600px;
  margin: 0 auto;
}

.skill {
  text-align: center;
  width: 150px;
  height: 150px;
  background: none;
  border: 2px solid var(--primary-color);
  border-radius: 0;
  cursor: pointer;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.skill img:hover {
  transform: scale(1.1);
}

.skill p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

/* Formulario de contacto */
.contact-form input,
.contact-form textarea {
  font-size: 1rem;
}

footer p {
  font-size: 0.9rem;
}

/* Estilo de botones */
.btn-primary {
  background-color: var(--primary-button-color);
  color: var(--primary-button-text);
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.btn-primary:hover {
  opacity: 0.8;
}

/* Reset y Fuentes Básicas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Encabezado */
header {
  background: var(--primary-color);
  color: var(--text-light);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

/* Sección Hero */
.hero {
  background: var(--gradient);
  color: var(--text-light);
  text-align: center;
  padding: 6rem 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.hero .btn-primary {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--primary-color);
  background: var(--secondary-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero .btn-primary:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(100, 255, 218, 0.6);
}

/* Secciones */
.section {
  padding: 4rem 2rem;
  text-align: center;
}

.section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: var(--secondary-color);
  margin: 1rem auto;
}

/* Experiencia */
#experiencia {
  background: var(--background-light);
  padding: 4rem 2rem;
  text-align: center;
}

#experiencia h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 3rem;
}

.experiencia-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.experiencia-card {
  background: var(--primary-color);
  color: var(--text-light);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 350px;
  text-align: center;
  margin-left: calc(2rem * var(--index));
}

.experiencia-card:nth-child(1) {
  --index: 0;
}

.experiencia-card:nth-child(2) {
  --index: 1;
}

.experiencia-card:nth-child(3) {
  --index: 2;
}

.experiencia-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.experiencia-card h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--text-light);
}

.experiencia-card p,
.experiencia-card ul li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.experiencia-card ul {
  list-style: none;
  padding: 0;
}

.experiencia-card ul li {
  position: relative;
  padding-left: 20px;
}

.experiencia-card ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: var(--secondary-color);
}

.experiencia-icon {
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

/* Estilos para las aptitudes */
.aptitudes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.aptitud {
  background: var(--secondary-color);
  color: var(--text-light);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease;
}

.aptitud:hover {
  background: var(--primary-color);
  transform: scale(1.1);
}

/* Proyectos */
.projects-carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.project {
  background: var(--primary-color);
  color: var(--text-light);
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(30% - 8rem);
  flex-basis: calc(45% - 2rem);
  text-align: center;
  overflow: revert;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project p {
  font-size: 1rem;
}

/* Estilos para el botón de descarga */
.btn-download {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--text-light);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.btn-download:hover {
  background-color: var(--primary-color);
}

/* Formulario de Contacto */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background: var(--primary-color);
  color: var(--text-light);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  background: var(--text-light);
  color: var(--text-dark);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color);
  outline: none;
}

.contact-form textarea {
  resize: none;
  min-height: 150px;
}

.contact-form button {
  background: var(--secondary-color);
  color: var(--text-light);
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form button:hover {
  background: var(--primary-color);
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.contact-form button:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-light);
}

.contact-form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-light);
  position: relative;
}

.contact-form-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: var(--secondary-color);
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 1rem;
  background: var(--primary-color);
  color: var(--text-light);
}

footer p {
  font-size: 0.9rem;
}

/* Botón de Tema */
.theme-toggle {
  background: var(--secondary-color);
  color: var(--text-light);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.theme-toggle:hover {
  background: var(--primary-color);
}

/* Media Queries */
@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-left, .hero-right {
    flex: 1;
    text-align: center;
  }

  .profile-photo {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .skills {
    flex-direction: column;
  }

  .skill {
    width: 100px;
    height: 100px;
  }

  .skill img {
    width: 70px;
  }

  .project {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 4rem 1rem;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .section h2 {
    font-size: 2rem;
  }

  .project h3 {
    font-size: 1.2rem;
  }

  .project p {
    font-size: 0.9rem;
  }

  .contact-form {
    padding: 1rem;
  }

  .contact-form input, .contact-form textarea {
    font-size: 0.9rem;
  }

  .contact-form button {
    font-size: 1rem;
  }

  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 700px;
  }
}




/* Movil */

/* Estilo para móviles */
@media (max-width: 480px) {
  /* Estilos generales del cuerpo */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--background-light);
    font-size: 14px;
    color: var(--text-dark);
  }

  /* Estilos del encabezado */
  header {
    width: 100%;
    text-align: center;
    padding: 1rem 0.5rem;
    background: var(--primary-color);
    color: var(--text-light);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  /* Estilos de los enlaces de navegación */
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
  }

  /* Estilos de la sección hero */
  .hero {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1.5rem;
    background: var(--gradient);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0.5rem;
    width: 90%;
  }

  .hero h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--text-light);
  }

  .hero p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--text-light);
  }

  /* Estilos del botón primario */
  .btn-primary {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background-color: var(--primary-button-color);
    color: var(--primary-button-text);
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
  }

  .btn-primary:hover {
    transform: scale(1.05);
    background-color: var(--secondary-color);
  }

/* Estilos para el texto de desarrollo web */
.typing-text {
  font-size: 2rem; /* Ajustar tamaño de fuente */
  border-right: 0.01em solid var(--text-dark); /* Ajustar tamaño y color de la línea */
}

@media (max-width: 480px) {
  /* Ajustar el espacio debajo del texto de escritura */
  .typing-text + p {
    margin-top: 0.5rem; /* Reducir el margen superior */
  }

  /* Reducir la altura del fondo */
  .hero {
    padding: 2rem 1rem; /* Reducir el padding */
  }
}

  /* Estilos de la sección de habilidades */
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
  }

  .skill {
    width: 90px;
    height: 90px;
    background: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
  }

  .skill:hover {
    transform: scale(1.1);
  }

  .skill p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

/* Estilos del formulario de contacto */
.contact-form {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 3rem;
  background: var(--primary-color);
  color: var(--text-light);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 0rem); /* Ajustar ancho */
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  height: 3rem;
}

.contact-form textarea {
  height: 6rem;
}

.contact-form button {
  width: 100%;
  padding: 0.8rem;
  background: var(--secondary-color);
  color: var(--text-light);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
}

.contact-form button:hover {
  transform: scale(1.05);
  background: var(--primary-color);
}

  /* Estilos del pie de página */
  footer {
    padding: 1rem 0.5rem;
    background: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    font-size: 0.9rem;
  }

  /* Estilos de la tarjeta de experiencia */
  .experiencia-card {
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 2rem;
    background: var(--primary-color);
    color: var(--text-light);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    text-align: center;
  }

  .experiencia-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .experiencia-card p,
  .experiencia-card ul li {
    font-size: 1rem;
    line-height: 1.5;
  }
}

/* Navbar Hamburguesa */
.hamburger-menu {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--text-light);
  cursor: pointer;
  margin-left: 3rem;
}

.theme-toggle {
  background: var(--secondary-color);
  color: var(--text-light);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.theme-toggle:hover {
  background: var(--primary-color);
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--primary-color);
    width: 100%;
    text-align: center;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }
}

@media (max-width: 480px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .skill {
    padding: 0.5rem;
  }

  .skill img {
    width: 50px;
    height: 50px;
  }

  /* Footer */
  footer {
    width: 100%;
    padding: 1rem 0.5rem;
    background: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    font-size: 0.9rem;
    border: none; /* Eliminar cualquier borde */
    box-shadow: none; /* Eliminar cualquier sombra */
  }
}

/* Proyectos movil */
@media (max-width: 480px) {
  .projects-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; /* Ajustar el espacio */
    padding: 0; /* Eliminar padding */
    margin: 0; /* Eliminar margin */
  }

  .project {
    width: 100%;
    max-width: 100%; /* Hacer ancho completo */
    padding: 0.5rem; /* Ajustar padding */
    border-radius: 10px; /* Ajustar border-radius */
  }

  .project .carousel {
    height: auto; /* Ajustar la altura */
    padding: 0; /* Eliminar padding */
    margin: 0; /* Eliminar margin */
  }

  .project .carousel img {
    display: none; /* Ocultar imágenes del proyecto */
  }
}
@media (max-width: 480px) {
  /* Estilos de la sección hero */
  .hero {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1.5rem;
    background: var(--gradient);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0.5rem;
    width: 90%;
    clip-path: none; /* Eliminar el clip-path */
  }
}
